*.arh
*~
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/Cortex*/*
*.cydsn/Export/*
*.cydsn/Generated_Source
*.cydsn/codegentemp
*.cyprj.*
*.cywrk.*
*_timing.html
Backup/
BUILD.log
CLEAN.log
